body {

    align-items: center;
    justify-content: center;

}
.text-primary {
    color: #FD6E0A;
    margin-left: 20px;

}
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 35px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.icon{
    margin-left:2px;
}

.nav-title {
    margin-right: 50px;
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    display: flex;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
.sec1{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/group-13.png');
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    
}
.sec1 h2{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.sec1 p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
} 
.form1{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.sec2{
    display: flex;
}
.sec2left{
    padding-top: 10px;
    height: 500px;
    width: 50%;
    padding-left: 70px;
    padding-bottom: 10px;
}
.sec2right{
    padding-top: 10px;
    height: 500px;
    width: 50%;
    padding-left: 10px;
    align-items: end;
}
.sec3{

    width: 1440px;
    height: 6940px;
}
.sec3 p{
    width: 643px;
}
.sec4{
    width: 1440px;
    height: 6940px;
}
.sec4_1{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.sec4_2{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.sec4_3{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.form2{
    display: grid;
}


@media screen and (max-width:600px) {
.header{
    display: grid;
    gap: 20px;
   
}
.sec1{
    width: 335px;
    height: 483px;
    flex-shrink: 0;
    border-radius: 16px;

}
.form1{flex-direction: column;}
.sec2{
    flex-direction: column;

}


}